html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body  {
    background-color: #283618;
    font-family: Arial, sans-serif;
    color: #e8e0c0;
}
/*navbar*/
header {
    position: sticky;
    top: 0;
    background-color: #1a2412;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 37px;
    z-index: 1000;
}
.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}
.nav-list li {
    flex: 1;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 20px;
}
.nav-list li a {
    color: #e8e0c0;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 20px;
}
.nav-list li:hover {
    background-color: rgba(96, 108, 56, 0.30);
    border-radius: 20px;
    transition: all 0.3s ease;
}
.nav-list li:hover a {
    color: #bc6c25;
}

/* Main content */
h1 {
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
p {
    color: #ffffff;
    line-height: 1.5;
}
a {
    color: #bc6c25;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #dda15e;
}
/*
.button{
    background-color: #bc6c25;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #dda15e;
}
*/

.card {
    background-color: rgba(96, 108, 56, 0.15);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.card:hover {
    transform: scale3d(1.01, 1.01, 1.01);
    background-color: rgba(96, 108, 56, 0.30);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.tool-category {
    background-color: rgba(96, 108, 56, 0.15);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    list-style: none;
}
.tool-category:hover {
    background-color: rgba(96, 108, 56, 0.30);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    transform: scale3d(1.02, 1.02, 1.02);
}
.tool{
    background-color: rgba(96, 108, 56, 0.15);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}
.tool:hover {
    background-color: rgba(96, 108, 56, 0.30);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    transform: scale3d(1.01, 1.01, 1.01);
}

.tool:active {
    transform: scale(1.01);
}

.tool .info {
    display: none;
}

.tool:focus .info,
.tool:active .info {
    display: block;
}

.tool.expanded {
    transform: scale(1.01);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
    z-index: 10;
    
}

.tool.expanded::after {
    content: attr(data-tool);
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}








/* Div/Borders #606c38 */


.codeblock {
    background-color: #2a3418;
    color: #fefae0;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
}


/*Secondary text color #606c38*/

footer {
    background-color: #1a2412;
    color: #e8e0c0;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}


